################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExceptionHandling
/EntityFramework
/Console
/BlobManagement
/Mvc
/WindowsService
/Validation
/ThirdPartyAssemblies
/Tests
/Test
/Sql
/Security
/Pdf
/Payment
/Office
/Normalization
